{% extends 'boss/base.html' %}
{% block title %}Add Book{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb text-light" style="font-size:25px;margin:20px 0">
        <li class="breadcrumb-item">My LMS</li>
        <li class="breadcrumb-item">Manage Book</li>
        <li class="breadcrumb-item">Add Book</li>
    </ol>
    <div class="row">
        <div class="col-sm-10">
        <div class="card shadow-lg bg-primary text-light">
            <div class="card-header" style="background-color:#21259f;font-size:30px">
                    Add New Book <i class="fas fa-folder-plus"></i>
            </div>
            <div class="card-body" style="background-color:#4b4ef7">
                <form action="{% url 'babook' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mt-2">
                         <label>Book Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title" required="required">
                    </div>
                    <div class="form-group mt-2">
                        <label>Author Name:</label>
                        <input type="text" class="form-control" name="author" placeholder="Author" required="required">
                    </div>

                    <div class="form-group mt-2">
                        <label>Category</label>
                        <input type="text" class="form-control" name="category" placeholder="Category" required="required">
                    </div>

                    <div class="form-group mt-2">
                        <label>Review</label>
                        <textarea class="form-control" rows ="5" name ="review" placeholder="Review" required="required">
                        </textarea>
                    </div>

                    <div class="form-group mt-2">
                        <label>Year</label>
                        <input type="text" class="form-control" name="year" placeholder="Year" required="required">
                    </div>

                    <div class="form-group mt-2">
                        <label>Quantity</label>
                        <input type="text" class="form-control" name="quantity" placeholder="Quantity" required="required">
                    </div>

                    <div class="form-group mt-2">
                        <label>Book Cover</label>
                        <input type="file" name="cover" placeholder="Report Attachment" enctype="multipart/form-data">
                    </div>

                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success" href="" style="background-color:#21259f;font-size:20px;border-radius:10px">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        </div>

    </div>
</div>


{% endblock %}