{% extends 'user/base.html' %}
{% load static %}
{% block title %}Book Detail{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" style="background-color:#ffffeb">
            <center><img src="{{ book.cover.url }}" style="margin:130px 0;width:400px;height:550px"></center>
        </div>
        <div class="col-sm-6">
            <div style="margin:130px 0">
                <center><h1 style="font-size:35px;margin-top:30px;color:#10284b;font-weight:bold;font-family:Arial Black;margin-bottom:40px">{{ book.title }}</h1></center>
                <h5 style="margin-bottom:20px;margin-left:24px;font-family:Armin Soft Regular">Author: {{ book.author }}</h5>
                <h5 style="margin-bottom:20px;margin-left:24px;font-family:Armin Soft Regular">Category: {{ book.category }}</h5>
                <h5 style="margin-bottom:30px;margin-left:24px;font-family:Armin Soft Regular">Year: {{ book.year }}</h5>
                <h1 style="margin-left:24px;color:#10284b;font-weight:bold;font-family:Arial Black;">Review</h1>
                <p style="margin:10px 24px">{{ book.review }}</p>
                <form action="{% url 'urequestb' book.pk %}" method="POST">
                    {% csrf_token %}
                    <center><button class="btn me-2" type="submit" style="margin-top:10px;background-color:#381fd1;color:white;font-size:20px;width:100px">Register</button></p></center>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

